<header>
  <div id="header">
    <img src="assets/images/logo.png" alt="">
    <h1>Escanéate</h1>  
  </div>
</header>
<!--
<input type="text" [(ngModel)]="title">
{{ title }}

<div *ngIf='title == "Escaneate"'>
  El div
</div>

<button (click)="addItems()"> Add item </button>

<ol>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }}
    <button (click)="deleteItems()">Delete</button>
  </li>
</ol>
-->

<footer>
  <div class="footer-text">
    <h3>Follow us on:</h3>
  </div>
  <div class="footer-icons">
  <a href="https://www.instagram.com/escaneate/" target="blank"><img class="footer-icons-ig" src="assets/images/instagram.png" ></a>
  </div>  
</footer>
<!--<div ngFor="let product of products">
  {{ product.title }}
  {{ product.price }}
</div>--> 